{% load static %}


<!-- Start Footer -->
<div class="footer row mt-5 p-3" style="background-color: #a5b4fc;">
    <!-- Col1 -->
    <div class="col-md-4">
        <h6 style="text-align: center;">Address</h6>
        <hr>
        70 Washington Square South, New York, NY 10012, United States
    </div>
    <!-- Col2 -->
    <div class="col-lg-4">
        <h6 style="text-align: center;">Quick Links</h6>
        <hr>
        <ul class="list-inline d-flex justify-content-between">
            <li class="list-inline-item"><a href="/home">Home</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Contact</a></li>
        </ul>
        
    </div>
    <!-- Connect Us -->
    <div class="col-lg-4">
        <h6 style="text-align: center;">Connect Us</h6>
        <hr>
        <ul class="list-inline d-flex justify-content-between">
            <li class="list-inline-item"><a href="https://www.facebook.com/"><i class="bi bi-facebook" style="color: blue;"></i></a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/"><i class="bi bi-instagram" style="color: rgb(204, 0, 255);"></i></a></li>
            <li class="list-inline-item"><a href="https://www.twitter.com/"><i class="bi bi-twitter"></i></a></li>
        </ul>
    </div>

</div>
<!-- End Footer -->


<script src="{% static './assets/js/main.js' %}"></script>
<script src="{% static './assets/js/bootstrap.min.js' %}"></script>
</body>

</html>

