{% extends 'base.html' %}
{% block main %}
{% load static %}

<div class="container">
    <h2>Search Results for "{{ query }}"</h2>
    <div class="row">
        {% if results %}
            {% for product in results %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="{{ product.pimage.url }}" class="card-img-top" alt="{{ product.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">Price: Rs.{{ product.price }}</p>
                        <a href="/pdetails/{{ product.id }}" class="btn btn-primary">See Details</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>No products found.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
